body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Lobster Two';
    font-weight: 700;
    src: local('Lobster Two'), url(./fonts/LobsterTwo-Bold.ttf) format('truetype');
}


.slideOverflow {
    overflow: clip !important;
}

#tape:hover #tapeStyle {
    visibility: visible;
}

#tape:hover #tapeStyleCheck {
    visibility: hidden;
}

#favorite:hover #heart {
    display: none;
}

#favorite:hover #heartHover {
    display: flex;
}

#wakeLock:hover #eye {
    display: none;
}

#wakeLock:hover #eyeHover {
    display: flex;
}

.Toastify__toast-container {
    padding: 0 !important;
    max-width: calc(100% - 2 * 24px);
}

.Toastify__toast-container--bottom-left {
    left: 24px !important;
    bottom: calc(24px - 6px) !important;
}

.Toastify__toast {
    border-radius: 0 !important;
    margin-bottom: 6px !important;
    min-height: 50px !important;
}

#aliment:hover #wikipedia {
    display: flex !important;
}

#slider:hover #sliderNext {
    visibility: visible !important;
}
#slider:hover #sliderBack {
    visibility: visible !important;
}
#slider:hover #sliderCount {
    visibility: visible !important;
}
